---
import { getCollection } from 'astro:content';
import Layout from '../../layouts/Layout.astro';

export async function getStaticPaths() {
  const posts = await getCollection('blog');

  return posts.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
}

const { post } = Astro.props;
---

<Layout title={post.data.title} description={post.data.description}>
  <article class="max-w-3xl mx-auto py-8 text-black dark:text-white">
    <h1 class="text-4xl font-bold">{post.data.title}</h1>
    <p class="text-gray-500">{post.data.date} - Escrito por {post.data.author}</p>
    <img src={post.data.image} alt={post.data.title} class="w-full my-4 rounded-lg" />

    <div class="prose prose-invert prose-headings:text-black prose-strong:text-black prose-p:text-black prose-a:text-purple-800 max-w-none dark:prose-dark dark:prose-strong:text-white dark:prose-a:text-blue-400 text-black" set:html={post.rendered?.html}></div>
  </article>
</Layout>
