---
const sections = [
    { id: "Encuentra-Roommate", label: "Encuentra Roommate" },
    { id: "Features", label: "Features" },
    { id: "Dommies", label: "Dommies" },
    { id: "Conócenos", label: "Conócenos" },
    { id: "FAQ", label: "FAQ" },
];
const contacts = [
    "dommies.service@gmail.com",
    "+51 901 543 058"
]
const follow = [
    {
        enlace: 'https://api.whatsapp.com/message/2QBIZN45ZCPHA1?autoload=1&app_absent=0',
        RS: 'WhatsApp'
    },
    {
        enlace: 'https://www.facebook.com/profile.php?id=61570895938953',
        RS: 'Facebook'
    },
    {
        enlace: 'https://www.tiktok.com/@dommies.pro',
        RS: 'TikTok'
    },
    {
        enlace: 'https://www.instagram.com/Dommiess.pro/',
        RS: 'Instagram'
    },
]
const polit = [
    "Términos y condiciones",
    "Privacidad"
]
---

<footer class="w-full flex flex-col px-16 pt-16 bg-[#6241A0] text-white mt-20 font-thin text-sm">
    <div class="w-[95%] block justify-center items-center md:flex md:justify-start md:items-start gap-8 lg:gap-16 lg:justify-between">
        <div class="flex flex-col justify-center items-center md:items-start lg:w-1/5">
            <img src="/Logoheader.webp" alt="Logo de Dommies" class="w-[12rem] mb-3">
            <p>Dommies: Tu roommate perfecto, en tu lugar perfecto.</p>
        </div>
        <div class="flex flex-col justify-center items-center md:items-start lg:w-1/5">
            <h1 class="font-semibold my-8 md:my-3">Explorar</h1>
            <div class="flex flex-col justify-center items-center md:items-start gap-2">
                {sections.map((section) => (
                    <a
                        href={`#${section.id}`}
                        class="hover:underline transition"
                    >
                        {section.label}
                    </a>
                ))}
            </div>
        </div>
        <div class="flex flex-col justify-start items-center md:items-start lg:w-1/5">
            <h1 class="font-semibold my-8 md:my-3">Contáctanos</h1>
            <div class="flex flex-col justify-center items-center md:items-start gap-2">
                {contacts.map((contact) => (
                    <p class="transition">{contact}</p>
                ))}
            </div>
        </div>
        <div class="flex flex-col justify-start items-center md:items-start lg:w-1/5">
            <h1 class="font-semibold my-8 md:my-3">Síguenos</h1>
            <div class="flex flex-col justify-center items-center md:items-start gap-2">
                {follow.map((section) => (
                    <a
                        href={`${section.enlace}`}
                        target="_blank"
                        rel="noopener noreferrer"
                        class="hover:underline transition"
                    >
                        {section.RS}
                    </a>
                ))}
            </div>
        </div>
        <div class="flex flex-col justify-start items-center md:items-start lg:w-1/5">
            <h1 class="font-semibold my-8 md:my-3">Legal</h1>
            <div class="flex flex-col justify-center items-center md:items-start gap-2">
                {polit.map((section) => (
                    <a
                        href="#"
                        target="_blank"
                        rel="noopener noreferrer"
                        class="hover:underline transition"
                    >
                        {section}
                    </a>
                ))}
            </div>
        </div>
    </div>
    <div class="my-8 flex justify-center md:justify-start lg:justify-between w-[95%]">
        <p>© 2025 Dommies. Todos los derechos reservados.</p>
        <p class="hidden lg:block">Desarrollado con ❤️ por Dommies Team</p>
    </div>
</footer>